@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
    --cor-texto-primario: #e5e5e5;
    --cor-texto-secundario: #808080;
    --cor-texto-vermelho: #dd4b39;
    --cor-fundo: #202020;
    --cor-fundo-hover: #363636;
}

* {
    /* Border-box: incluir o padding e o border na altura e na largura dos elementos */
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: var(--cor-texto-primario);
}

/* MAIN */
.container {
    display: block;
    min-height: 100vh;
    background-color: var(--cor-fundo);
}

.content {
    margin: 0 auto;
    padding: 0 55px;
    width: calc(100% - 400px);
    min-width: 300px;
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0;
        width: calc(100% - 200px);
    }

    .titulo {
        text-align: center;
    }
}

.titulo {
    padding-top: 36px;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
}

/* AVISO */
.aviso {
    text-align: center;
    font-size: 12px;
    color: var(--cor-texto-secundario);
    margin-top: 20px;
}

/* TAREFAS */
.container-tarefas {
    margin-top: 16px;
}

.tarefas {
    list-style: none;
}

.tarefas-item {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    cursor: default;
    width: 100%;
    margin-bottom: 10px;
}

.tarefas-item:hover {
    background-color: var(--cor-fundo-hover);
}

.tarefas-item:hover .tarefa-acoes {
    opacity: 1;
}

/* -- CHECKBOX -- */
.tarefa-checkbox button {
    background: transparent;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 6px;
}

.tarefa-checkbox button .tarefa-checkbox-circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-texto-secundario);
    height: 20px;
    width: 20px;
    border: 1px solid var(--cor-texto-secundario);
    border-radius: 50%;
}

.tarefa-checkbox button .tarefa-checkbox-circulo svg {
    color: inherit;
    width: 18px;
    height: 18px;
    margin-left: -6px;
    margin-top: -6px;
    transition: opacity 0.3s;
    opacity: 0;
}

.tarefa-checkbox button:hover .tarefa-checkbox-circulo svg,
.tarefa-checkbox button.checked .tarefa-checkbox-circulo svg {
    opacity: 1;
}

/* /-- CHECKBOX /-- */

.tarefa-conteudo {
    margin-left: 10px;
    width: 100%;
}

.tarefa-titulo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tarefa-acoes {
    opacity: 0;
}

.tarefa-acoes button {
    min-width: 24px;
    color: var(--cor-texto-primario);
    border-radius: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.tarefa-acoes button:hover {
    color: var(--cor-texto-vermelho);
}

.tarefa-descricao {
    color: var(--cor-texto-secundario);
    font-size: 12px;
    line-height: 18px;
    word-wrap: break-word;
    word-break: break-all;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--cor-texto-secundario);
}

.nova-tarefa-container {
    padding: 10px;
}

.btn-adicionar-tarefa {
    color: var(--cor-texto-secundario);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-adicionar-tarefa .icon_add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin-right: 10px;
    color: var(--cor-texto-vermelho);
}

.btn-adicionar-tarefa:hover {
    color: var(--cor-texto-vermelho);
}

.btn-adicionar-tarefa:hover .icon_add {
    background-color: var(--cor-texto-vermelho);
    color: var(--cor-texto-primario);
}

/* MODAL */
.modal-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.mostrar {
    display: flex;
}

.modal {
    background: #1f1f1f;
    width: 60%;
    min-width: 300px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal 0.3s;
}

.modal form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modal form .input {
    color: var(--cor-texto-primario);
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 10px;
}

.modal form .input#tarefa-titulo {
    font-size: 14px;
    font-weight: 500;
}

.modal form .input#tarefa-descricao {
    font-size: 12px;
    color: var(--cor-texto-secundario);
    resize: vertical;
    min-height: 50px;
    max-height: 300px;
}

.form-acoes {
    margin-top: 10px;
    text-align: right;
}

.form-acoes button {
    color: var(--cor-texto-primario);
    font-weight: 700;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}

.form-acoes button#btn-cancelar {
    margin-right: 5px;
    background-color: #292929;
}

.form-acoes button#btn-cancelar:hover {
    background-color: #3d3d3d;
}

.form-acoes button#btn-salvar {
    background-color: #de4c4a;
}

.form-acoes button#btn-salvar:hover {
    background-color: var(--cor-texto-vermelho);
}

.fechar {
    color: var(--cor-texto-primario);
    position: absolute;
    background-color: transparent;
    font-size: 1.2em;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.fechar:hover {
    background-color: var(--cor-fundo-hover);
}
